@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Matter SQ Regular";
    src: url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.eot");
    src: url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/8611cf274fd66935b8f771ac84029521.svg#Matter SQ Regular")format("svg");
}

html {
    scroll-behavior: smooth;
}

body {
    background: theme("colors.light");
    font-family: "Matter SQ Regular";
    overflow-x: hidden;

    --sb-track-color: #ffffff;
    --sb-thumb-color: #2a2c2d;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
    border: 2px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.h1 {
    font-size: clamp(2.625rem, 2.114rem + 1.64vw, 3.75rem)
}

.h2 {
    font-size: clamp(2.25rem, 1.914rem + 1.36vw, 3.5rem)
}

.h3 {
    font-size: clamp(1.75rem, 1.182rem + 1.82vw, 3rem)
}

.h4 {
    font-size: clamp(1.5rem, 1.159rem + 1.09vw, 2.25rem)
}

.h5 {
    font-size: clamp(1.313rem, 1.17rem + .45vw, 1.625rem)
}